* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  font-style: italic;
  color: #fff;
}

img {
  width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
}

.header {
  background: url(../img/bg.png) no-repeat top center/cover;
  height: 100vh;
  position: relative;
}

.header__body_media {
  display: none;
}

.header span {
  color: #F8FF13;
}

.header__bg {
  max-width: 95%;
  margin: 0 auto;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top_logo img {
  width: 144px;
  height: 44px;
}

.header__top_title {
  font-size: 42px;
}

.header__top_btn {
  position: relative;
}

.header__top_btn-media {
  display: none;
}

.header__top_btn a {
  font-size: 17px;
  color: #F8FF13;
  padding: 5px 20px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.header__top_btn a:hover {
  color: #f7ff0ed8;
}

.header__top_btn a span {
  background: #F8FF13;
  position: absolute;
}

.header__top_btn a span:nth-child(1) {
  width: 100%;
  height: 1px;
  top: 0;
  right: -6px;
}

.header__top_btn a span:nth-child(2) {
  width: 100%;
  height: 1px;
  bottom: 0;
  left: -6px;
}

.header__top_btn a span:nth-child(3) {
  width: 1px;
  height: 100%;
  bottom: 0;
  left: 0;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.header__top_btn a span:nth-child(4) {
  width: 1px;
  height: 100%;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.header__body {
  margin-top: 100px;
}

.header__title {
  font-size: 72px;
  color: #F8FF13;
}

.header__rule {
  font-size: 12px;
  text-decoration: underline;
}

.header__try {
  font-size: 44px;
}

.container {
  position: relative;
  z-index: 2;
  max-width: 90%;
  margin: 0 auto;
  padding: 5px 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer li {
  list-style: none;
  margin-right: 15px;
  cursor: pointer;
}

.spiner {
  height: 903px;
  width: 794px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
}

.spiner__roll {
  width: 648px;
  height: 648px;
  position: absolute;
  bottom: 180px;
  left: calc(50% - 324px);
  z-index: 4;
}

.spiner__btn {
  position: absolute;
  text-transform: uppercase;
  color: #000;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 470px;
  z-index: 99;
  font-size: 55px;
  font-weight: 700;
  background: transparent;
  border: none;
  font-style: italic;
  cursor: pointer;
  outline: none;
}

.covboy {
  position: absolute;
  bottom: 0;
  z-index: 3;
}

.spiner__roll.active_popup1 {
  -webkit-animation: roll1 3s forwards;
          animation: roll1 3s forwards;
}

@-webkit-keyframes roll1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1870deg);
            transform: rotate(1870deg);
  }
}

@keyframes roll1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1870deg);
            transform: rotate(1870deg);
  }
}

.spiner__roll.active_popup2 {
  -webkit-animation: roll2 3s forwards;
          animation: roll2 3s forwards;
}

@-webkit-keyframes roll2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1830deg);
            transform: rotate(1830deg);
  }
}

@keyframes roll2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1830deg);
            transform: rotate(1830deg);
  }
}

.popup1 {
  display: none;
  width: 682px;
  height: 470px;
  background: #000;
  -webkit-box-shadow: 0 0 10px #F8FF13;
          box-shadow: 0 0 10px #F8FF13;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
  padding: 40px 0;
}

.popup1::before {
  display: block;
  content: '';
  position: absolute;
  background: url(../img/smoke.png) no-repeat center center/cover;
  bottom: 0;
  left: 0;
  right: 0;
  height: 160px;
}

.popup1.active {
  display: block;
}

.popup1__title {
  text-transform: uppercase;
  font-size: 44px;
  margin-bottom: 30px;
}

.popup1__title span {
  display: block;
  font-size: 100px;
}

.popup1__count {
  font-size: 24px;
  font-style: normal;
  margin-bottom: 10px;
  font-weight: 500;
}

.popup1__btn {
  width: 361px;
  color: #000;
  font-size: 30px;
  padding: 10px;
  position: relative;
  background: #F8FF13;
  display: inline-block;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.popup1__btn:hover {
  color: rgba(0, 0, 0, 0.83);
}

.popup1__btn::before, .popup1__btn::after {
  display: block;
  content: '';
  position: absolute;
  height: 70px;
  background: #000;
  width: 30px;
}

.popup1__btn::before {
  left: -20px;
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
  top: -5px;
}

.popup1__btn::after {
  right: -20px;
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
  top: 0;
}

.popup2__wrappe {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.541);
  z-index: 1000;
}

.popup2__wrappe.active {
  display: block;
}

.popup2 {
  display: block;
  width: 682px;
  height: 470px;
  background: #000;
  -webkit-box-shadow: 0 0 10px #F8FF13;
          box-shadow: 0 0 10px #F8FF13;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
  padding: 40px 0;
}

.popup2::before {
  display: block;
  content: '';
  position: absolute;
  background: url(../img/smoke.png) no-repeat center center/cover;
  bottom: 0;
  left: 0;
  right: 0;
  height: 160px;
}

.popup2.active {
  display: block;
}

.popup2__title {
  text-transform: uppercase;
  font-size: 44px;
  margin-bottom: 30px;
}

.popup2__title span {
  display: block;
  font-size: 110px;
}

.popup2__count {
  font-size: 24px;
  font-style: normal;
  margin-bottom: 10px;
  font-weight: 500;
}

.popup2__btn {
  width: 361px;
  color: #000;
  font-size: 30px;
  padding: 10px;
  position: relative;
  background: #F8FF13;
  display: inline-block;
  font-weight: 700;
  position: relative;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.popup2__btn:hover {
  color: rgba(0, 0, 0, 0.83);
}

.popup2__btn::before, .popup2__btn::after {
  display: block;
  content: '';
  position: absolute;
  height: 70px;
  background: #000;
  width: 30px;
}

.popup2__btn::before {
  left: -20px;
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
  top: -5px;
}

.popup2__btn::after {
  right: -20px;
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
  top: 0;
}

.smoke {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 98;
}

.smoke__media {
  display: none;
}

.connor_media {
  display: none;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 999;
  width: 90%;
}

.footer i {
  margin-right: 15px;
}

.footer__limitation i {
  color: red;
}

.header__rule_media {
  display: none;
}

@media screen and (max-width: 1900px) {
  .spiner__btn {
    bottom: 381px;
    font-size: 45px;
  }
  .spiner__roll {
    width: 478px;
    height: 478px;
    bottom: 167px;
    left: calc(50% - 239px);
  }
  .spiner {
    height: 703px;
    width: 594px;
  }
}

@media screen and (max-width: 1500px) {
  .popup1, .popup2 {
    width: 500px;
    height: 300px;
  }
  .popup1__title, .popup2__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .popup1__title span, .popup2__title span {
    display: block;
    font-size: 40px;
  }
  .popup1__count, .popup2__count {
    font-size: 16px;
    font-style: normal;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .popup1__btn, .popup2__btn {
    width: 280px;
    font-size: 20px;
    padding: 10px;
  }
  .popup1__btn::before, .popup1__btn::after, .popup2__btn::before, .popup2__btn::after {
    height: 55px;
    width: 13px;
  }
  .popup1__btn::before, .popup2__btn::before {
    left: -6px;
    top: -5px;
  }
  .popup1__btn::after, .popup2__btn::after {
    right: -6px;
    top: 0;
  }
  .header__try {
    font-size: 33px;
  }
  .header__title {
    font-size: 33px;
  }
  .header__body {
    max-width: 50%;
    display: inline-block;
    margin-top: 50px;
  }
  .header__top_title {
    font-size: 24px;
  }
  .header__top_logo img {
    width: 100px;
    height: 34px;
  }
  .header__bg {
    padding-top: 10px;
  }
  .spiner__btn {
    bottom: 218px;
    font-size: 27px;
  }
  .spiner__roll {
    width: 300px;
    height: 300px;
    bottom: 85px;
    left: calc(50% - 150px);
  }
  .spiner {
    height: 420px;
    width: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 978px) {
  .header__title, .header__try {
    font-size: 22px;
  }
  .header__top_title {
    font-size: 16px;
  }
}

@media screen and (max-width: 550px) {
  .smoke {
    display: none;
  }
  .smoke__media {
    display: block;
    position: absolute;
    bottom: 20px;
    z-index: 5;
    left: 0;
    right: 0;
  }
  .footer {
    height: 190px;
    width: 100%;
    background: #000;
    bottom: -170px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0;
  }
  .footer__bank {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer__attachment {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .footer__limitation {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer__social {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .popup1, .popup2 {
    width: 95%;
    margin: 0 auto;
  }
  .spiner {
    left: 20px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .connor_media {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .container {
    max-width: 100%;
  }
  .header__suptitle {
    font-size: 14px;
    text-align: center;
  }
  .header__rule_media {
    position: absolute;
    bottom: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: block;
    z-index: 999999;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.1px;
  }
  .header__try {
    font-size: 14px;
  }
  .header__title {
    font-size: 24px;
  }
  .header__top_btn {
    display: none;
  }
  .header__top_btn-media {
    display: block;
  }
  .header__body_media {
    display: block;
  }
  .header__body {
    display: none;
  }
  .header__top_btn a {
    font-size: 13px;
    width: 116px;
    text-align: center;
  }
  .header__top {
    width: 95%;
    margin: 0 auto;
  }
  .header__top_title {
    display: none;
  }
  .header__top_logo img {
    width: 79px;
    height: 25px;
  }
  .spiner__btn {
    bottom: 142px;
    font-size: 13px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    left: 118px;
    font-weight: 700;
  }
  .spiner__roll {
    width: 190px;
    height: 190px;
    bottom: 53px;
    left: 39px;
  }
  .spiner {
    height: 265px;
    width: 230px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__bg {
    padding: 15px 0;
  }
  .header {
    background-image: url(../img/bg_media.png);
  }
}
/*# sourceMappingURL=style.css.map */